{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container-fluid text-light py-3">


    <div class="d-flex flex-row justify-content-between">
    <h3 class="text-center mt-1">{{tournament.tournament_name}}
        {% if tournament.started == True %}
        <a href="" type="button" class="mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-book-fill" viewBox="0 0 16 16">
        <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
      </svg></a>
    {% endif %}
        </h3>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">{% trans 'Tournament Rules' %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        <div class="d-flex flex-column">
            <h5 class="">{% trans 'Tournament name' %} : {{tournament.tournament_name}}</h5>
            <h5 class="">{% trans 'Type of weapon' %} : {{tournament.weapon}}</h5>
            <h5 class="">{% trans 'Type of squad' %} : {{tournament.squad}}</h5>
            <h5 class="">{% trans 'Start date'%} : {{tournament.start_date}}</h5>
            <h5 class="">{% trans 'End date' %} : {{tournament.end_date}}</h5>
            <h5 class="">{{tournament.tournament_rules|linebreaks}}</h5>
            <h5 class="">{% trans 'Registered participants' %} : {{tournament.participants|linebreaks}}</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <h3 class="text-center mt-1">Prize : {{tournament.Prize}}</h3>
</div>
<hr>    
{% if tournament.started == False %}

<div class="d-flex flex-column">
  <h5 class="">{% trans 'Tournament name' %} : {{tournament.tournament_name}}</h5>
  <h5 class="">{% trans 'Type of weapon' %} : {{tournament.weapon}}</h5>
  <h5 class="">{% trans 'Type of squad' %} : {{tournament.squad}}</h5>
  <h5 class="">{% trans 'Start date'%} : {{tournament.start_date}}</h5>
  <h5 class="">{% trans 'End date' %} : {{tournament.end_date}}</h5>
  <h5 class="">{{tournament.tournament_rules|linebreaks}}</h5>
  <h5 class="">{% trans 'Registered participants' %} : {{tournament.participants|linebreaks}}</h5>
</div>

{% if tournament.isfull == True %}
<div class="d-flex justify-content-center">
<a href="" class="btn btn-success py-2 px-5 disabled" style="font-weight: 500;">Apply to participate <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
  </svg></a>
</div>
<p class="text-center mt-2">Unfortunately, All players have been selected</p>
{% else %}
<div class="d-flex justify-content-center">
    <a href="{% url 'myapply' %}" class="btn btn-success py-2 px-5" style="font-weight: 500;">Apply to participate</a>
</div>
{% endif %}

{% else %}
{% for r in rounds %}
<ul class="list-group">
    <li class="list-group-item my-1 d-flex justify-content-between align-items-center"> <span>{{r.round_number}}</span> <a class="text-decoration-none" href="{% url 'roundmatches' r.pk %}">{% trans 'View' %} -></a></li>
</ul>    
{% endfor %}
{% endif %}
</div>
{% endblock content %}