{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container-fluid text-light py-3">
<h2>Fixtures</h2>
<hr>

{% for m in matches %} 
<div class="d-flex justify-content-between w-100">
<p style="width: 33%;" class="text-start ">{{m.player_1}}</p>

{% if m.overall_1 == None and m.overall_2 == None %}
<p class="text-warning">{% trans 'Not started' %}</p>
{% else %}
<p style="width:33%;" class="text-center">{{m.overall_1}} : {{m.overall_2}}</p>
{% endif %}
<p style="width:33%;" class="text-end mx-2 ">{{m.player_2}}</p>
</div>

<div class="my-2">
    {% if m.matchvideo %}
  <a href="{{m.matchvideo}}" class="text-decoration-none btn btn-primary d-block mx-auto">{% trans 'Match video' %}</a>
  {% endif %}
</div>
<hr>
{% if m.tournament_winner %}
<h2 class="text-center">{% trans 'Winner of the Tournament' %}</h2><br><br>
<h2 class="text-center font-effect-fire">{{m.tournament_winner}}</h2>
{% endif %}
{% endfor %}


</div>
{% endblock content %}