{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container-fluid text-light py-3">
<h2>{% trans 'All information about the player' %}</h2>
<hr>    
<div class="">
<h3>{% trans 'Player name' %} :  {{player.FullName}}</h3>
<h3>{% trans 'Pubg name' %} : {{player.PubgName}}</h3>
<h3>{% trans 'Pubg ID' %} : {{player.PubgID}}</h3>
<h3>{% trans 'Joined' %} : {{player.joined}}</h3>
</div>
<hr>
<table class="table table-dark table-borderless">
    <thead>
        <tr>
            <th>{% trans 'Points' %}</th>
            <th>{% trans 'Wins' %}</th>
            <th>{% trans 'Trophy' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h1> {{player.point}} </h1></td>
            <td><h1> {{player.win}} </h1></td>
            <td><h1> {{player.trophy}} </h1></td>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-borderless">
    <thead>
        <tr>
            <th>{% trans 'Played' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h1>{{player.played}}</h1></td>

        </tr>
    </tbody>
</table>
{% if user.is_staff %}
<a href="{% url 'addpoint' player.pk %}" class="btn btn-success py-2 px-5">{% trans 'Edit Player Stats' %}</a>
{% endif %}
{% endblock content %}